.build-number {
  color:rgb(53, 53, 53);
  font-weight: bold;
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.login-card-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-card {
  border-radius: 5px; 
  box-shadow: 0 0 20px lightgray;
  display: flex;
  width: 700px;
  margin: auto;
}

.logo {
  height: 100%;
  width: 100%;
  border-radius: 5px 0 0 5px; 
  object-fit: cover;
  filter: brightness(96%);
}

.top-div {
  display: flex;
  height: 50%; 
  align-items: center; 
  justify-content: center;
}

.left-div {
  display: flex;
  width: 50%; 
  align-items: center; 
  justify-content: center;
}

.bottom-div {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  height: 50%;
  padding: 15px;
}

.right-div {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  width: 50%;
  padding: 8% 5%;
}