.header {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px black;
  position: sticky;
  top: 0;
  background-color: white;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 50px 200px 30px 200px;
}

.layout {
  padding: 30px 200px;
}

.two-content-container {
  display: flex;

  .first {
    flex: 1;
    margin: auto;
    vertical-align: middle;
  }

  .second {
    flex: 2;
    margin: auto;
    text-align: right;
    vertical-align: middle;
  }
}
