body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px black;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  width: 100%;
  margin-top: 30px;
  padding: 50px 80px 10px;
}

.footer {
  align-self: center;
  padding: 0 auto;
  max-width: 1200px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.layout {
  min-width: 400px;
  width: 1000px;
  max-width: max-content;
  align-self: center;
  padding: 30px auto;
  flex: 1;
}

.two-content-container {
  display: flex;

  .first {
    flex: 1;
    margin: auto;
    vertical-align: middle;
    flex-basis: auto;
  }

  .second {
    flex: 1;
    text-align: right;
    vertical-align: middle;
    flex-basis: auto;
  }
}

.card {
  padding: 30px;
  margin: 10px 0;
  box-shadow: 0px 0px 10px #ccc;
}



.account-card-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  max-width: 90vw;

  .account-card {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
  }
}

.card:hover {
  background-color: #444;
  color: white;
  transition: 0.2s ease-in-out;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #444;
  transition: 0.2s ease-in-out;
}

label {
  padding-top: 10px
}

.toast {
  z-index: 1;
  position: fixed;
  right: 10px; 
}

@media (max-width: 950px) {
  .header {
    padding: 20px;
    .two-content-container {
      display: inline;
      .second {
        text-align: left;
      }
    }
  }
}